body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #c6cceb;
}

a {
	-moz-user-select: none;
	color: #1155CC !important;
	font-family: "verdana", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.noAccBtn {
	color: black !important;
	text-decoration: none;
}

a.noAccBtn:hover {
	color: darkred !important;
	text-decoration: underline;
	text-weight: bold;
}

h3 {
	margin: 0;
	padding: 10px 5px 10px 5px;
}

h4.header {
	padding-top 45px;
	font-size: 220%;
}

h4.header:hover {
	color: white;
	filter: blur(2px);
}

h5:hover {
	filter: blur(1px);
}

#Frame0 {
	background-color: #F7F7F7;
	margin: 30px auto auto;
	padding: 10px;
	width: 750px;
	border: 1px solid #EEE;
}

.Button3 {
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: 700;
	line-height: 23px;
	margin-right: 2px;
	min-width: 40px;
	padding: 0 16px;
	text-align: center;
	color: #000000;
	-moz-box-shadow: inset 0 1px 0 #529E21, inset 1px 0 0 #4A911C, inset -1px 0 0 #4A911C, inset 0 -1px 0 #3D7F12, i> -webkit-box-shadow:inset 0 1px 0 #529E21, inset 1px 0 0 #4A911C, inset -1px 0 0 #4A911C, inset 0 -1px 0 #3D7F12> box-shadow:inset 0 1px 0 #529E21, inset 1px 0 0 #4A911C, inset -1px 0 0 #4A911C, inset 0 -1px 0 #3D7F12, inset > background:#6dbd45;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #6dbd45), color-stop(1, #51a326));
	background: -moz-linear-gradient(center top, #6dbd45 20%, #51a326 100%);
	background: #929493;
	border: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 3px 10px;
	text-align: center;
	overflow: hidden;
	min-width: 70px;
}

.Button3:hover {
	background-color: #a2a3a2;
	color: #000000;
}

.Button1:hover {
	text-decoration: none;
}

.button3:active {
	background: #6dbd45;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.2, #5EA534), color-stop(1, #519327));
	background: -moz-linear-gradient(center top, #5EA534 20%, #519327 100%);
}

.Button3:active,
.a:active {
	position: relative;
	top: 1px;
}

.Input {
	background-color: #FFFFFF;
	border-color: #A0A0A0 #B9B9B9 #B9B9B9;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 5px;
	width: 200px;
}

.Table {
	font-family: verdana, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	background-color: #E4E4E4;
}

.Table td {
	background-color: #7b88d1;
}

/*td:hover {
	filter: blur(1px);
}*/
h1 {
	text-align: center;
	font-size: 280%;
	color: #1b224b;
}

img.logo {
	transition: 2s;
	padding-top: 43px;
	padding-right: 30px;
	height: 85px;
	width: 75px;
}

img.logo:hover {
	padding-top: 343px;
	padding-right: 30px;
	height: 385px;
	width: 375px;
	transition: 2.5s;
	/*filter: blur(2px);*/
}
